html {
    height: 100%;
}

.container-fluid {
    width: 80%;
}

.form-control {
    width: 100%;
}

#root {
    background-color: #f2f2f2;
}

footer {
    background: blueviolet;
}

.message-absolute {
    position: absolute;
    width: 100%;
}

.full-width {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-left-space-around {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

.flex-row-between-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.grid-two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}